.footer{
    width: 100%;
    height: 50vh;
    position: relative;
    color: #fff;
    background-color: $deep-blue;

    @include breakpoint-up(large){
        padding: 2.8rem 6.25rem;
    }
    @include breakpoint-down(medium){
        padding: 4rem 1.25rem;
        height: 100%;
    }

    @include breakpoint-down(small){
        height: 100%;
        padding: 1.5rem 1.25rem;
    }

    &__container{
        width: 1140px;

        @include breakpoint-down(medium){
            width: 100%;
        }
    }

    &__logo {
        img{
            max-width: 100%;
        }
        @include breakpoint-up(large){
            width: 30%;
        }
        @include breakpoint-down(small){
            width: 35%;
        }
    }

    &__logo__about{
        flex-direction: column;
        gap: 2rem;
    }

    &__links, &__links-link {
        flex-direction: column;
    }
    &__links, &__contact{
        gap: 0.875rem;
    }

    &__contact-list{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-size: 0.75rem;

    }

    &__links-link{
        gap: 0.3rem;
        a{
            font-size: 0.75rem;
            color: #fff;
        }
    }

    &__contact-text{
        margin-bottom: 0.875rem;
    }


    &__about{
        font-size: 0.75rem;
    }


    &__container {
        display: grid;
        grid-template-columns: 40% 20% 30%;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;

        @include breakpoint-down(small){
            display: flex;
            flex-direction: column;
        }
        }
        
    &__logo__about { grid-area: 1 / 1 / 2 / 2; }
    &__links { grid-area: 1 / 2 / 2 / 3; }
    &__contact { grid-area: 1 / 3 / 2 / 4; }
    &__copyright { grid-area: 2 / 1 / 3 / 2; }
    &__socials{ grid-area: 2 / 2 / 3 / 3; }

    &__copyright{
        font-size: 0.65rem;
    }

    &__socials{
        gap: 1rem;
        a{
            border: 2px solid #fff;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem;

            i{
                color: #fff;
                font-size: 0.75rem;
            }
        }
    }
}