*,*::before,*::after{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

a {
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

// Flexbox styles
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}


.hide-for-mobile {
    //Hide for mobile and tablets
    @include breakpoint-down(small){
        display: none;
    }
}

.hide-for-desktop {
    //Hide for desktop vw

    @include breakpoint-up(large){
        display: none;
    }
}