header{
    width: 100%;
    height: 80vh;
    position: relative;
    background: url(../../images/facade-solutions-for-building-near-the-sea_5.jpg);
    background-position: center center;
    background-size: 120% 100%;
    background-repeat: no-repeat;
    color: $deep-blue;
    margin-bottom: 5rem;

    @include breakpoint-up(large){
        padding: 2.8rem 6.25rem;
    }
    @include breakpoint-down(medium){
        padding: 4rem 1.25rem;
        height: 55vh;
    }

    @include breakpoint-down(small){
        height: 70vh;
        padding: 1.5rem 1.25rem;
        background-size: 160% 100%;
        margin-bottom: 4rem;
    }

    .nav {
        height: auto;
        margin-bottom: 4rem;

        @include breakpoint-down(small){
            margin-bottom: 2.5rem;
        }

        &__logo {
            img{
                max-width: 100%;
            }
            @include breakpoint-up(large){
                width: 15%;
            }
            @include breakpoint-down(small){
                width: 35%;
            }
        }

        &__items{
            gap: 2rem;

            .nav__links{
                text-transform: uppercase;
                font-size: 0.8125rem;
                color: $deep-blue;
                padding: 0.5rem;
                transition: all 0.3s ease-in-out;

                &:last-child{
                    border: 2px solid $brown;
                }

                &:hover {
                    font-weight: 500;
                }
            }
        }
    }

    .header {
        // padding: 10px;

        
        &__text {
            height: auto;
            margin-bottom: 2rem;

            @include breakpoint-down(medium){
                margin-bottom: 3rem;
            }

            @include breakpoint-down(small){
                flex-direction: column;
            }
        }

        &__headings {
            text-transform: uppercase;
            width: 40%;

            @include breakpoint-down(small){
                width: 100%;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
        &__sub-heading{
            font-size: 2.0rem;
            margin-bottom: 0.5rem;

            @include breakpoint-down(medium){
                font-size: 1.35rem;
            }

            @include breakpoint-down(small){
                margin-bottom: 0.2rem;
            }
    
        }
        &__heading {
            font-size: 1.8rem;

            @include breakpoint-down(medium){
                font-size: 1.25rem;
            }
        }
        &__paragraph {
            width: 35%;
            line-height: 1.25rem;
            font-weight: 300;

            @include breakpoint-down(medium){
                font-size: 13px;
            }
            @include breakpoint-down(small){
               width: 100%;
               text-align: center;
            }
        }
        &__icon-text {
            writing-mode: vertical-rl;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 500;
            letter-spacing: 0.45rem;
            padding: 5px;

            @include breakpoint-down(medium){
                font-size: 0.7rem;
                letter-spacing: 0.3rem;
                padding: unset;
            }
        }
        &__icon{
            font-size: 5rem;

            @include breakpoint-down(medium){
                font-size: 3rem;
            }
        }
    }

    .header_mobile_menu{
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 1.625rem;
        margin-top: .2rem;
        border-radius: 5px;
        z-index: 10000;
        transition: all 0.3s ease-in-out;

        a {
            display: block;
            padding: 0.625rem;
            color: $deep-blue;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.875rem;
        }
    }
}