.property{

    &__container{
        width: 1000px;
        margin: 0 auto 4rem auto;
        color: $deep-blue;
        gap: 1.5rem;

        @include breakpoint-down(medium){
            width: 100%;
        }
        @include breakpoint-down(small){
            flex-direction: column;
            padding-inline: 12px;
            gap: 3rem;
        }
    }
    &__details{
        width: 720px;
        padding: 0.875rem;


        @include breakpoint-down(small){
            width: 100%;
        }

        &-header, h4, &-small-text{
            margin-bottom: 0.5rem;
        }

        &-header{
            @include breakpoint-down(small){
                font-size: 1.1rem;
            }
        }

        h4{
            @include breakpoint-down(small){
                font-size: 0.875rem;
            }
        }

        &-small-text{
            font-size: 0.75rem;
            @include breakpoint-down(small){
                font-size: 0.65rem;
            }
        }

        &-icons{
            gap: 1rem;
            margin-bottom: 1rem;
        }
        &-icon{
            gap: 0.4rem;
            i{
                font-size: 0.875rem;
            }
            span{
                font-size: 0.7rem;
            }
        }
    }

    &__description, &__location, &__features, &__actual-map{
        padding: 1.25rem;
        background-color: #fff;
        margin-bottom: 3rem;
        &-small-text{
            font-size: 0.7rem;
            margin-bottom: 1rem;

            @include breakpoint-up(medium){
                font-size: 0.875rem;
            }
        }
    }

    &__location-details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        padding: 1rem 0;

        @include breakpoint-down(small){
            display: flex;
            flex-direction: column;
        }

        .div1 { 
            grid-area: 1 / 1 / 2 / 2;
         }
        .div2 { 
            grid-area: 1 / 2 / 2 / 3;
         }
        .div3 { 
            grid-area: 2 / 1 / 3 / 2;
         }
        .div4 { 
            grid-area: 2 / 2 / 3 / 3;
         }
        .div5 { 
            grid-area: 3 / 1 / 4 / 2;
         }
        .div6 { 
            grid-area: 3 / 2 / 4 / 3;
         }
    }

    &__features-details{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        padding: 1rem 0;

        @include breakpoint-down(small){
            display: flex;
            flex-direction: column;
        }

        &-1 { 
            grid-area: 1 / 1 / 2 / 2;
        }
        &-2 { 
            grid-area: 2 / 1 / 3 / 2;
        }
        &-3 { 
            grid-area: 3 / 1 / 4 / 2;
        }
        &-4 { 
            grid-area: 1 / 2 / 2 / 3;
        }
        &-5 { 
            grid-area: 2 / 2 / 3 / 3;
        }
        &-6 { 
            grid-area: 3 / 2 / 4 / 3;
        }
        &-7 { 
            grid-area: 1 / 3 / 2 / 4;
        }
        &-8 { 
            grid-area: 2 / 3 / 3 / 4;
        }
        &-9 { 
            grid-area: 3 / 3 / 4 / 4;
        }
    }

}

//splide
.splide{
    visibility: visible;
    width: 100%;

    &__slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__slide{
        opacity: 0.7;
    }
    &__slide.is-active{
        opacity: 1;
    }
}

#main-carousel{
    margin-bottom: 1rem;
}
#thumbnail-carousel {
    margin-bottom: 3rem;
}


