.property{

    &__container{
        width: 1000px;
        margin: 0 auto 4rem auto;
        color: $deep-blue;
        gap: 1.5rem;

        @include breakpoint-down(medium){
            width: 100%;
            padding-inline: 0.7rem;
        }
        @include breakpoint-down(small){
            flex-direction: column;
            padding-inline: 12px;
            gap: 3rem;
        }
    }
    &__details{
        width: 720px;
        padding: 0.875rem;


        @include breakpoint-down(small){
            width: 100%;
        }

        &-header, h4, &-small-text{
            margin-bottom: 0.5rem;
        }

        &-header{
            @include breakpoint-down(small){
                font-size: 1.1rem;
            }
        }

        h4{
            @include breakpoint-down(small){
                font-size: 0.875rem;
            }
        }

        &-small-text{
            font-size: 0.75rem;
            @include breakpoint-down(small){
                font-size: 0.65rem;
            }
        }

        &-icons{
            gap: 1rem;
            margin-bottom: 1rem;
        }
        &-icon{
            gap: 0.4rem;
            i{
                font-size: 0.875rem;
            }
            span{
                font-size: 0.7rem;
            }
        }
    }

    &__description, &__location, &__features, &__actual-map{
        padding: 1.25rem;
        background-color: #fff;
        margin-bottom: 3rem;
        &-small-text{
            font-size: 0.7rem;
            margin-bottom: 1rem;

            @include breakpoint-up(medium){
                font-size: 0.875rem;
            }
        }
    }

    &__location-details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        padding: 1rem 0;

        @include breakpoint-down(small){
            display: flex;
            flex-direction: column;
        }

        .div1 { 
            grid-area: 1 / 1 / 2 / 2;
         }
        .div2 { 
            grid-area: 1 / 2 / 2 / 3;
         }
        .div3 { 
            grid-area: 2 / 1 / 3 / 2;
         }
        .div4 { 
            grid-area: 2 / 2 / 3 / 3;
         }
        .div5 { 
            grid-area: 3 / 1 / 4 / 2;
         }
        .div6 { 
            grid-area: 3 / 2 / 4 / 3;
         }
    }

    &__features-details{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        padding: 1rem 0;

        @include breakpoint-down(small){
            display: flex;
            flex-direction: column;
        }

        &-1 { 
            grid-area: 1 / 1 / 2 / 2;
        }
        &-2 { 
            grid-area: 2 / 1 / 3 / 2;
        }
        &-3 { 
            grid-area: 3 / 1 / 4 / 2;
        }
        &-4 { 
            grid-area: 1 / 2 / 2 / 3;
        }
        &-5 { 
            grid-area: 2 / 2 / 3 / 3;
        }
        &-6 { 
            grid-area: 3 / 2 / 4 / 3;
        }
        &-7 { 
            grid-area: 1 / 3 / 2 / 4;
        }
        &-8 { 
            grid-area: 2 / 3 / 3 / 4;
        }
        &-9 { 
            grid-area: 3 / 3 / 4 / 4;
        }
    }

    &__contact-agent{
        width: 256px;
        background-color: #fff;
        color: $deep-blue;
        padding: 1.5rem 1rem;
        height: 100%;

        @include breakpoint-down(small){
            width: 90%;
            margin: 0 auto;
        }

        &-form{
            padding: 1rem 0;
            width: 100%;

            input {
                width: 100%;
                padding-inline: 1rem;
                height: 40px;
                margin-bottom: 0.875rem;
                background-color: #fff;
                outline: none;
                border: 1px solid $deep-blue;
            }
            textarea{
                margin-bottom: 0.875rem;
                background-color: #fff;
                outline: none;
                border: 1px solid $deep-blue;
                width: 100%;
                padding: 1rem;
            }

            button{
                width: 100%;
                height: 40px;
                text-align: center;
                cursor: pointer;
                color: #fff;
                background-color: $brown;
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: 1.5px;
                border: none;
                outline: none;
            }
        }
    }

    &__main-page-1{
        width: 1000px;
        margin: 0 auto 4rem auto;
        padding: 1rem 0 0 0;
        color: $deep-blue;
        gap: 1.5rem;
        border: 2px solid red;

        @include breakpoint-down(medium){
            width: 100%;
            padding-inline: 0.7rem;
        }
        @include breakpoint-down(small){
            flex-direction: column-reverse;
            padding-inline: 12px;
            gap: 3rem;
        }
    }

    &__cards-list{
        width: 720px;
    }

    &__cards-img-icons{
        width: 45%;
        position: relative; 
    }

    &__cards{ 
        background-color: #fff;
    }

    &__cards-icons{
        position: absolute;
        gap: 0.875rem;
        left: 60%;
        bottom: 10%;
        color: #fff;
    }

    &__cards-img{
        border: 4px solid #fff;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__cards-texts{
        width: 50%;
        padding: 1.25rem;
    }

    &__cards-small__text{
        font-size: 0.875rem;
        margin: 0.75rem 0 1.25rem;
    }
    &__cards-para{
        font-size: 0.875rem;
    }



}

//splide
.splide{
    visibility: visible;
    width: 100%;

    &__slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__slide{
        opacity: 0.7;
    }
    &__slide.is-active{
        opacity: 1;
    }
}

#main-carousel{
    margin-bottom: 1rem;
}
#thumbnail-carousel {
    margin-bottom: 3rem;
}

.lease__card{

}

.lease__form{
    width: 256px;
    background-color: #fff;
    color: $deep-blue;
    padding: 1.5rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint-down(small){
        width: 100%;
        margin: 0 auto;
    }

    &-header{
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }
    ::placeholder{
        font-size: 0.875rem;
    }

    input, select {
        width: 100%;
        padding-inline: 1rem;
        height: 40px;
        background-color: #fff;
        color: $deep-blue;
        outline: none;
        font-size: 0.875rem;
        border: 1px solid $deep-blue;
    }

    button {
        height: 40px;
        color: #fff;
        background-color: $brown;
        border: none;
        outline: none;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1.2px;
    }
}

