$deep-blue: rgba(19,37,74,255);
$main-bg: rgba(242,245,250,255);
$primary-color: rgba(37,53,78,255);
$secondary-color: rgba(208,185,110,255);
$blue: rgba(18,46,83,255);
$brown: rgba(194,158,105,255);
$header: rgba(228,234,250,255);