@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.open > span:first-child {
  transform: rotate(45deg);
}
.open > span:nth-child(2) {
  opacity: 0;
}
.open > span:last-child {
  transform: rotate(-45deg);
}

.header_menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: rgb(19, 37, 74);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header_menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgb(19, 37, 74), transparent);
}

.noscroll {
  overflow: hidden;
}

.hide {
  display: none;
}

header {
  width: 100%;
  height: 80vh;
  position: relative;
  background: url(../../images/facade-solutions-for-building-near-the-sea_5.jpg);
  background-position: center center;
  background-size: 120% 100%;
  background-repeat: no-repeat;
  color: rgb(19, 37, 74);
}
@media (min-width: 64em) {
  header {
    padding: 2.8rem 6.25rem;
  }
}
@media (max-width: 63.9375em) {
  header {
    padding: 4rem 1.25rem;
    height: 55vh;
  }
}
@media (max-width: 39.9375em) {
  header {
    height: 65vh;
    padding: 1.5rem 1.25rem;
    background-size: 160% 100%;
  }
}
header .nav {
  height: auto;
  margin-bottom: 4rem;
}
@media (max-width: 39.9375em) {
  header .nav {
    margin-bottom: 2.5rem;
  }
}
header .nav__logo img {
  max-width: 100%;
}
@media (min-width: 64em) {
  header .nav__logo {
    width: 15%;
  }
}
@media (max-width: 39.9375em) {
  header .nav__logo {
    width: 35%;
  }
}
header .nav__items {
  gap: 2rem;
}
header .nav__items .nav__links {
  text-transform: uppercase;
  font-size: 0.8125rem;
  color: rgb(19, 37, 74);
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
header .nav__items .nav__links:last-child {
  border: 2px solid rgb(194, 158, 105);
}
header .nav__items .nav__links:hover {
  font-weight: 500;
}
header .header__text {
  height: auto;
  margin-bottom: 2rem;
}
@media (max-width: 63.9375em) {
  header .header__text {
    margin-bottom: 3rem;
  }
}
@media (max-width: 39.9375em) {
  header .header__text {
    flex-direction: column;
  }
}
header .header__headings {
  text-transform: uppercase;
  width: 40%;
}
@media (max-width: 39.9375em) {
  header .header__headings {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
header .header__sub-heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 63.9375em) {
  header .header__sub-heading {
    font-size: 1.35rem;
  }
}
@media (max-width: 39.9375em) {
  header .header__sub-heading {
    margin-bottom: 0.2rem;
  }
}
header .header__heading {
  font-size: 1.8rem;
}
@media (max-width: 63.9375em) {
  header .header__heading {
    font-size: 1.25rem;
  }
}
header .header__paragraph {
  width: 35%;
  line-height: 1.25rem;
  font-weight: 300;
}
@media (max-width: 63.9375em) {
  header .header__paragraph {
    font-size: 13px;
  }
}
@media (max-width: 39.9375em) {
  header .header__paragraph {
    width: 100%;
    text-align: center;
  }
}
header .header__icon-text {
  -ms-writing-mode: sideways-rl;
      writing-mode: sideways-rl;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.45rem;
  padding: 5px;
}
@media (max-width: 63.9375em) {
  header .header__icon-text {
    font-size: 0.7rem;
    letter-spacing: 0.3rem;
    padding: unset;
  }
}
header .header__icon {
  font-size: 5rem;
}
@media (max-width: 63.9375em) {
  header .header__icon {
    font-size: 3rem;
  }
}
header .header_mobile_menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 1.625rem;
  margin-top: 0.2rem;
  border-radius: 5px;
  z-index: 10000;
  transition: all 0.3s ease-in-out;
}
header .header_mobile_menu a {
  display: block;
  padding: 0.625rem;
  color: rgb(19, 37, 74);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
}/*# sourceMappingURL=style.css.map */